.UpPasswordHeader{
    background-color: rgb(4, 24, 63);
    width: 100%;
    height: 3%;
    font-size:xx-large;
    text-align: center;
    margin: 0;
    color: white;
    text-align: center;
    flex-direction: row;
    line-height: 78px;
}


.caption{
    color:rgb(39, 48, 68);
    font-size: 25px;
    font-family: 'Arial Narrow';
    direction:unset;
}
.red{
    color:red;
}






